@import "tailwindcss";

@theme {
  --color-bgDark: #040b16;
  --color-inputBg: #081226;
  --color-accent: #00f3ff;
  --color-accentHover: #7ef9ff;
  
  --font-family-inter: 'Inter', sans-serif;
}

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
  
  body {
    font-family: var(--font-family-inter);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}